@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Raleway";
    src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Alexandria";
    src: url("./assets/fonts/Alexandria-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Neuton";
    src: url("./assets/fonts/Neuton-Regular.ttf");
}